/*body {
    background-color;
}

h1 {
    text-decoration: overline;
    text-align: center;
}

h1 {
    color: white;
}

li {
    color: white
}

li {list-style: none;}

h1:hover {
    background-color: tomato;
    cursor: pointer;
}

.cambio:hover {
    cursor: pointer;
    color: yellow
}

.background-color {
    color: yellow;
}

.descripcion {
    color: blue;
}

a {
    text-decoration: none;
}

.caja {width: 50px;
    height: 50px;
    border: 4px solid black;
    background-color: tomato;
    border-radius: 50%;
    
}

.cuadrado {
    background-color: azure;
    
}

.elemento {
    width: 50px;
    height: 50px;
    background-color: tomato;
    border: 1px black solid;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    

}

.seccion-caja {
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-color: black;
    background-color: tomato;
}*/


.tablero{
    background-color: grey;
    display: flex;

}

.linea1A {
    width: 50px;
    height: 50px;
    background-color: white;
    
    
    
}

.linea1B {
    width: 50px;
    height: 50px;
    background-color: black;
    display: flex
    
    
}